
  <div class="col span_2_of_3_left">
<h4> Create new question </h4>
<h5> What type of question are you asking? </h5>
<button type="submit" name="yes_no" class="yes_no" value="yes_no">Yes or no</button>
<button type="submit" name="this_that" class="this_that"value="this_that">This or that</button>
<button type="submit" name="ranking" class="ranking"value="ranking">Rank</button>




  <ul class='questions'>
  </ul>


  <!-- Real form: -->

  <form id='question_form'>
    <input type="text" class='this_that_form' name='this_that_content'placeholder="Question">
    <input type="text"  class='this_that_form' name='option_1'placeholder="Option A">
    <input type="text"  class='this_that_form' name='option_2'placeholder="Option B">
    <input type="text" class='yes_no_form' name='yes_no_content'placeholder="Question">
    <input type="hidden" class='yes_no_form' name='yes' value='yes'>
    <input type="hidden" class='yes_no_form' name='no' value='no'>
    <input type="text" class='ranking_form' name='ranking_form_content' placeholder="Question">
    <input type="text" class='ranking_form' name='range_min' placeholder="Minimum value">
    <input type="text" class='ranking_form' name='range_max' placeholder="Maximum value">
    <!-- <input class='yes_no_form' type="submit">
    <input class='this_that_form' type="submit">
    <input class='ranking_form' type="submit"> -->
    <input type="submit" class="submit">
    <input type="hidden" name="user_id" value=<%= @current_user.id %>>
  </form>


<div id="container"></div>


<!-- <form action="demo_form.asp">
  First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form>

 -->
<div class='question-manager'>

<script id="questionTemplate" type="text/template">
  <div class="question_info"<%%= id %>>
    <h4 class="question_content"><%%= content %></h4>
      <div class="question_options">
        <button type="button" class="question_option_1"><%%= option_1 %></button>
        <button type="button" class="question_option_2"><%%= option_2 %></button>
      </div>
      <div class="question_display">
      </div>
      </div>
  </div>
</script>

</div>
