#container {
    margin: 0 auto;
    width: 50%;
    height: 400px;
  }

a {
  color: white;
}

a:hover {
  color: white;
}

.logo {
  font-family: 'PT Serif', serif;
  color: white;
  padding-left: 20px;
}

