body, html {
  background-color: #F7F7F3;
    height:100%;
    width:100%;
}

.off-canvas-wrap,.inner-wrap{
    height:100%;
}
.signin {
  font-family: 'Walter Turncoat', cursive;
  margin: 100px auto;
  text-align: center;
  border: solid black 2px;
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 400px;
  width: 350px;
  background-color: white;
}
.signin h2 {
  font-family: 'Lobster', cursive;
}
.signin input{
  padding: 5px 0;
  margin: 5px 0;
}
.subin{
  margin-top: -60px;
  text-align: center;
}
.subin input {
  font-family: 'Walter Turncoat', cursive;
  padding: 10px;
  border: solid black 2px;
  border-radius: 4px;
  width: 100px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color 300ms ease-out;
  background-color: #FFA100;
  color: white;
}
.subin input:hover, .subin input:focus {
    background-color: #FFBD4D;
  }
#container {
    margin: 0 auto;
    width: 900px;
    height: 900px;
    zoom: 40%;
  }

a {
  color: white;
}

a:hover {
  color: white;
}

.logo {
  font-family: 'PT Serif', serif;
  color: white;
  padding-left: 20px;
}

.next {
  position: fixed;
  z-index: 2;
  bottom: 50%;
  right: 0;
}
#trending {
  border: solid black 2px;
  border-radius: 40px;
  clear: both;
  margin: 80px 60px 10px 60px;
  overflow: scroll;
  height: 380px;
  width: 500px;
}
.trend_quest{
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  background-color: #e9e9e9;
  border-color: #bababa;
  color: #333333;
  transition: background-color 300ms ease-out;
}
  .trend_quest:hover, .trend_quest:focus {
    background-color: #FBF82B;
  }
  /*.trend_quest:hover, .trend_quest:focus {
    color: white;
  }*/
.ask, .answer {
  font-family: 'Lobster', cursive;
  font-size: 24px;
  border: solid black 2px;
  border-radius: 8px;
  width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 50px 60px 0px 60px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: black;
  transition: background-color 300ms ease-out;
}
.ask{
  background-color: #73CABE;
}
.answer {
  background-color: #E68FD7;
}
.ask:hover, .ask:focus {
    background-color: #5CA298;
  }
.answer:hover, .answer:focus {
    background-color: #CF6890;
  }
  .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
  .entry {
    zoom: 70%;
    margin-bottom: -80px;
  }
  .signup {
    margin-top: 50px;
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
  }
  .signup div {
    margin-top: 5px;
    width: 187px;
  }
  .signup h3 {
  font-family: 'Lobster', cursive;
}
.edit{
  text-align: left;
  margin-top: 0;
  margin-left: 10px;
  font-size: 10px;
}
.subup{
  margin-top: 0px;
  text-align: center;
}
#error_explanation{
  color: red;
  font-size: 12px;
}
#error_explanation h2{
  font-size: 12px;
  color:red;
}

  input[type="range"]{
    width: 230px;
    height: 20px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -wekkit-border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}

input[type="range"]::-webkit-slider-thumb{
   -webkit-appearance:none !important;
   width:30px;
   height:30px;
   -webkit-appearance: none;
    border-radius: 100px;
    -moz-border-radius: 8px;
    -wekkit-border-radius: 8px;
    border:1px solid black;
    background: #73CABE;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );
 }


  @media (max-width: 570px) {
    #trending{
      margin-right: auto;
      margin-left: auto;
      width: 300px;
    }
    .ask, .answer {
      margin-right: 20px;
      margin-left: 20px;
    }
    .signin{
      width: 330px;
    }
  }


